.container__text__input {
    width: 100%;
    max-width: 42.5rem;
    height: 3rem;
    margin-top: 8.5rem;
    border: 0;
    background: transparent;
}

.container__text__input::placeholder {
    font-size: 1.5rem;
    color: var(--dark-blue-300);
}

.container__text__input:hover {
    color: var(--dark-blue-300);
    border: 0.3px solid;
}