.btn {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.encrypt__button, 
.decrypt__button {
    width: 20.8rem;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 24rem;
}

.encrypt__button {
    color: var(--background-color-main);
    background-color: var(--dark-blue-300);
}

.decrypt__button {
    color: var(--dark-blue-300);
    background-color: var(--decrypt-button);
}

.encrypt__button:hover {
    background-color: var(--background-color-main);
    color: var(--dark-blue-300);
}

.decrypt__button:hover {
    background-color: var(--dark-blue-300);
    color: var(--background-color-main);
}