:root {
    --background-color-main: #D8DFE8;
    --gray-400: #8d8d99;
    --gray-500: #9E9E9E;
    --dark-blue-300: #0A3871;
    --dark-blue-500: #DADADA;
    --color-white: #fff;
    --color-black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

@media (max-width: 783px) {
    .container_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container_header,
    .container_text,
    .container__info__type__text,
    .btn,
    .container__decoder {
        width: 100%;
        height: auto;
        margin: 1rem 0;
    }

    .btn {
        align-items: center;
    }

    .container__decoder {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container__decoder img {
        display: none;
    }

    .input__text__decoder {
        width: 17rem;
    }

    .copy__button {
        display: none;
    }
}

.input__text__decoder:not(:placeholder-shown) + .copy__button {
    display: block;
}
