.container__header {
    display: flex;
    justify-content: flex-start;
}

.container__header img {  
    height: 3rem;
}

@media (max-width: 375px) {
    .container__header {
        margin: 3rem 3rem;
    }
}

@media (max-width: 768px) {
    .container__header {
        margin: 3rem 3rem;
    }
}