body {
    background-color: var(--background-color-main);
}

.app_container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.container_main {
    display: flex;
    gap: 10rem;
}

.container__text__input {
    width: 100%;
    max-width: 42.5rem;
    height: 3rem;
    margin-top: 8.5rem;
    border: 0;
    background: transparent;
}

.container__text__input::placeholder {
    font-size: 1.5rem;
    color: var(--dark-blue-300);
}

.container__text__input:hover {
    color: var(--dark-blue-300);
    border: 0.3px solid;
}

.content__info__type__text {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    margin-top: 30rem;
}

.content__info__type__text img {
    width: 1.5rem;
    height: auto;
    text-align: center;
    margin-top: 0.4rem;
}

.paragraph__info__type__text {
    font-size: 1rem;
    line-height: 1.5;
}

.btn {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.encrypt__button, 
.decrypt__button {
    width: 20.8rem;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: 0;
    border-radius: 24rem;
}

.encrypt__button {
    color: yellow;
    background-color: blue;
}

.decrypt__button {
    color: var(--dark-blue-300);
    background-color: var(--decrypt-button);
}